In [ ]:
from io import StringIO, BytesIO
from pyogrio import read_dataframe
import geopandas as gpd
import numpy as np
import pandas as pd
import requests
import seaborn as sns
from matplotlib import pyplot as plt
from tqdm import tqdm

sns.set_theme(context="paper", style="whitegrid", palette="deep")

In [2]:
dataset_id = "d_61c2b8ecf5403b60d720b7788271ef20"
url = "https://api-open.data.gov.sg/v1/public/api/datasets/" + dataset_id + "/poll-download"
response = requests.get(url).json()
response

{'code': 0,
 'data': {'url': 'https://s3.ap-southeast-1.amazonaws.com/blobs.data.gov.sg/d_61c2b8ecf5403b60d720b7788271ef20.kml?AWSAccessKeyId=ASIAU7LWPY2WI2YHROP7&Expires=1732348752&Signature=x1WHEJ0C%2Bo0cvQeU66p78YWtBIg%3D&X-Amzn-Trace-Id=Root%3D1-67417d40-6fc18463099d072007f873ed%3BParent%3D64db7f86598b94ce%3BSampled%3D0%3BLineage%3D1%3Affb76583%3A0&response-content-disposition=attachment%3B%20filename%3D%22AedesMosquitoBreedingHabitatsNorthEastKML.kml%22&x-amz-security-token=IQoJb3JpZ2luX2VjEDcaDmFwLXNvdXRoZWFzdC0xIkcwRQIhAOEd%2BeTSTF6N3liXvkpnai3sZb6aJUfvBdLcaAUZnrmXAiAfkGH47guHA1NcQIm%2F1DO7RZ9op351o0yDk4S9n7aBJiqzAwjQ%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAQaDDM0MjIzNTI2ODc4MCIMMBWC5PJyuWPUaoYuKocDjUOHgVGFezW5C7Dsi1iDBKV8LcowhP%2BZNKKp2tev28R0tqUoG61R9Qico%2BGuLe5IxneA6nWpyWav2im2XnBMugSs7l45uO95ykeXM45PmDIDo45RPAXMLIFWuhcw8vcYgfx3wWN5A0cUqiX2AFbmkwZLR3PSkeXBQVDPBYP%2BFQjjh%2FQyhRv8urZVAFyXmH5JuOa6k1915B7yCuXtxL58ehw6AlycvVWPd742ptyOqVf0Mqr6PTJ5HJ72FSY8wO5oKLuErgaOYI6b7Odobuw8v11thAbHfbx8PSfjKBkvLIGObyqwKvm0i%2FW0pFFgLLEFfDc%2Fx63ziq8PRmqanZlbzyH2%2BWpfz2Ov%2BAdDe22Aw4GyxCdBJOXIdPfk2U7FwQ%2FsdKaJF6R0iiFy84YX9p0EM0hhGkcgQzqMblo6kEw8mjHlaREJYn1luOSY2MFoLzoJxsV4%2FbsFk1ZSkn9T%2BcZrdlkIxYMXhQbioe8MtFCk5D%2FKVhlHRpaACQWZOvSR9TioqHpAz0L8DjCt%2BoW6BjqdASt%2BDVmqQccVo5iDGHdPVlpnwaC9o%2B2Kq%2Frq4YaKGmX2h1kmQ8U%2FkJwKQvZVIHyWQPsngMmiRPy1c0xYyBFvq7DS304MLqKW7IQN5D0CXRoscZalc6cbBXJCB3WBT5AVF%2Bz2eq4xTcS%2BwaJjWn6fg%2BkFGJV%2B%2FDWqZ%2B0V%2FPp3hpCHxqrkQ7z%2FkCQE8PrwD6X%2FjFne4POZNgJJCq%2Bu17k%3D'},
 'errorMsg': ''}

In [ ]:
url = response['data']['url']
response2 = requests.get(url)
gdf = read_dataframe(BytesIO(response2.text.encode("UTF-8")))
gdf

,Name,Description,geometry
0,kml_1,<center><table><tr><th colspan='2' align='cent...,POINT Z (103.85252 1.28589 0)
1,kml_2,<center><table><tr><th colspan='2' align='cent...,POINT Z (103.75393 1.38461 0)
2,kml_3,<center><table><tr><th colspan='2' align='cent...,POINT Z (103.74603 1.40003 0)
3,kml_4,<center><table><tr><th colspan='2' align='cent...,POINT Z (103.81977 1.28908 0)
4,kml_5,<center><table><tr><th colspan='2' align='cent...,POINT Z (103.84577 1.38227 0)
...,...,...,...
2926,kml_2927,<center><table><tr><th colspan='2' align='cent...,POINT Z (103.84192 1.24776 0)
2927,kml_2928,<center><table><tr><th colspan='2' align='cent...,POINT Z (103.77249 1.3776 0)
2928,kml_2929,<center><table><tr><th colspan='2' align='cent...,POINT Z (103.83722 1.29087 0)
2929,kml_2930,<center><table><tr><th colspan='2' align='cent...,POINT Z (103.68891 1.34627 0)
2930,kml_2931,<center><table><tr><th colspan='2' align='cent...,POINT Z (103.75188 1.38319 0)